#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a{
  text-decoration: none;
  color: whitesmoke;
}


.main-intro{
  color: gray;
  background-color: #d0e1ff;
}

.main-intro-head{
  text-align: center;
}


#footer{
  color: whitesmoke;
  background-color: #203559;
  left: 0;
  bottom: 0;
  width: 100%;
}

#copyright {
  text-align: center;
}